---
// src/components/Header.astro
---
<header class="site-header">
  <h1 class="site-title">ねぎ'sポートフォリオ</h1>

  <nav class="site-nav">
    <a href="#top">Top</a>
    <a href="#about">About</a>
    <a href="#works">Works</a>
  </nav>
</header>

<style>
.site-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #5ad52a;
}

.site-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.site-nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: inherit;
}


</style>
